.container{
    background-color: rgb(233 236 239);
    padding: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    width: 300px;
    gap: 5px;
}
.search_button{
    border-radius: 5px;
    background-color: rgb(50 50 50);
    color: white;
    font-weight: bold;
}
.search_button:hover{
    transition: .2s;
    background-color: white;
    color: black;
}